#outer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    scale: 0.7;
}
#outer>div{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: absolute;

}
.c1{
    /* background-color: black; */
    background-color: #4338CA95;
    left: 10px;
}
.c2{
    /* background-color: rgb(220, 187, 20); */
    background-color: #4338CA80;


    left: 50px;
}
.c3{
    /* background-color: rgb(40, 212, 212); */
    background-color:#4338CA65;

    left: 90px;
}
.c4{
    /* background-color: rgb(225, 20, 20); */
    background-color: #4338CA50;

    left: 130px;
}
.c1{
    animation: up 4s infinite;
}
@keyframes up{
    0%{
        top: 80px;
        left: 10px;
    }
    11%{
        top: 40px;
        left: 10px;
    }
    22%{
        top: 40px;
        left: 130px;
    }
    33%{
        top: 80px;
        left: 130px;
    }
    44%{
        top: 80px;
        left: 90px;
    }
    55%{
        top: 80px;
        left: 90px;
    }
    66%{
        top: 80px;
        left: 50px;
    }
    77%{
        top: 80px;
        left: 50px;
    }
    88%{
        top: 80px;
        left: 10px;
    }
    100%{
        top: 80px;
        left: 10px;
    }
}
.c2{
    animation: up2 4s infinite;
}
@keyframes up2{
    0%{
        top: 80px;
        left: 50px;
    }
    11%{
        top: 80px;
        left: 50px;
    }
    22%{
        top: 80px;
        left: 10px;
    }
    33%{
        top: 40px;
        left: 10px;
    }
    44%{
        top: 40px;
        left: 130px;
    }
    55%{
        top: 80px;
        left: 130px;
    }
    66%{
        top: 80px;
        left: 90px;
    }
    77%{
        top: 80px;
        left: 90px;
    }
    88%{
        top: 80px;
        left: 50px;
    }
    100%{
        top: 80px;
        left: 50px;
    }
}
.c3{
    animation: up3 4s infinite ;
}
@keyframes up3{
    0%{
        top: 80px;
        left: 90px;
    }
    11%{
        top: 80px;
        left: 90px;
    }
    22%{
        top: 80px;
        left: 50px;
    }
    33%{
        top: 80px;
        left: 50px;
    }
    44%{
        top: 80px;
        left: 10px;
    }
    55%{
        top: 40px;
        left: 10px;
    }
    66%{
        top: 40px;
        left: 130px;
    }
    77%{
        top: 80px;
        left: 130px;
    }
    88%{
        top: 80px;
        left: 90px;
    }
    100%{
        top: 80px;
        left: 90px;
    }
}
.c4{
    animation: up4 4s infinite;
}
@keyframes up4{
    0%{
        top: 80px;
        left: 130px;
    }
    11%{
        top: 80px;
        left: 130px;
    }
    22%{
        top: 80px;
        left: 90px;
    }
    33%{
        top: 80px;
        left: 90px;
    }
    44%{
        top: 80px;
        left: 50px;
    }
    55%{
        top: 80px;
        left: 50px;
    }
    66%{
        top: 80px;
        left: 10px;
    }
    77%{
        top: 40px;
        left: 10px;
    }
    88%{
        top: 40px;
        left: 130px;
    }
    100%{
        top: 80px;
        left: 130px;
    }
}